$bk-medio: 768px;
$bk-large: 1024px;
$bk-xlarge: 1200px;
$fuente-principal: "Open Sans", sans-serif;
$color-aside-bg: #252525;
$color-light: #eee;
$color-enfasis: #ff570c;
@mixin mq-medio {
  @media screen and (min-width: $bk-medio) {
    @content;
  }
}
@mixin mq-grande {
  @media screen and (min-width: $bk-large) {
    @content;
  }
}
@mixin mq-xgrande {
  @media screen and (min-width: $bk-xlarge) {
    @content;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: $fuente-principal;
  font-optical-sizing: auto;
}

.enlace {
  text-decoration: none;
  color: $color-enfasis;

  &:hover {
    text-decoration: underline;
  }
}

.contenedor {
  @include mq-grande {
    display: grid;
    grid-template-columns: 3fr 7fr;
  }
  @include mq-xgrande {
    display: grid;
    grid-template-columns: 2fr 8fr;
  }
}

.aside {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 1rem;
  background-color: $color-aside-bg;
  color: $color-light;
  @include mq-medio {
    padding: 2rem 1rem;
  }
  @include mq-grande {
    height: 100vh;
    padding: 2rem 1rem 0;
  }
}

.img-nombre {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1.5rem;
  @include mq-medio {
    justify-content: center;
  }

  &__imagen {
    margin-right: 0.5rem;

    img {
      display: block;
      max-width: 50px;
      border-radius: 50%;
    }
  }

  &__nombre {
    color: $color-enfasis;

    p {
      font-size: 1.2rem;
    }
  }
}

.social {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
  @include mq-medio {
    justify-content: center;
  }
  @include mq-grande {
    justify-content: space-around;
  }

  &__enlace {
    color: $color-enfasis;
    transition: all 300ms ease-in-out;

    &:hover {
      color: $color-light;
      transform: scale(1.1);
    }
    @include mq-medio {
      margin-right: 2rem;

      &:last-child {
        margin-right: 0;
      }
    }
    @include mq-grande {
      margin-right: 0;
    }
  }
}

.navegacion-principal {
  &__lista {
    list-style: none;
    text-align: center;
  }

  &__item {
    margin: 1rem 0;
  }

  &__link {
    display: block;
    padding: 0.5rem 0;
    color: $color-light;
    text-decoration: none;
    border-radius: 3px;

    &:hover {
      transition: background-color 0.4s ease-in;
      background-color: lighten($color-enfasis, 7%);
    }
  }
}

.main {
  padding: 1rem;
  @include mq-medio {
    padding: 2rem;
  }
  @include mq-xgrande {
    padding: 2rem 3rem;
  }
}

.header {
  margin-bottom: 2rem;

  &__texto {
    text-align: center;
    padding-bottom: 0.2rem;
    border-bottom: 2px solid rgba($color-enfasis, 0.2);
    color: $color-enfasis;
    text-transform: capitalize;
    font-variant: small-caps;
  }
}

.seccion {
  margin-bottom: 2rem;
  @include mq-medio {
    padding: 0 2rem;
  }

  &__contenedor__icono {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__icono {
    display: block;
    max-width: 200px;
  }

  &__texto {
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 3px lighten($color-enfasis, 40%);
  border-bottom: solid 3px lighten($color-enfasis, 40%);
  border-radius: 10px;
  &__logo {
    display: block;
    max-width: 64px;
  }
}
